
<IfModule mod_rewrite.c>

RewriteEngine On

# Get the relative URI
# RewriteCond %{ENV:RELATIVE_URI} ^$
# RewriteRule (.*) - [ENV=RELATIVE_URI:$1]
# Get the current directory
# RewriteCond %{ENV:CWD} ^$
# RewriteCond %{ENV:CWD}::%{REQUEST_URI} ^(.*)::(.*?)$
# RewriteRule ^$ - [ENV=CWD:%2]

# For Debugging
# RewriteRule (.*) https://example.com/?rel_uri=$1%{RELATIVE_URL} [R=301,L]

# For development purposes
RewriteRule ^/?dev$ /end-points/zoho-crm/dev.php [L,NC]
RewriteRule ^/?sandbox$ /end-points/sandbox/index.php [L,NC]

# Refresh the Zoho API tokens
RewriteRule ^/?provider/zoho/renew-api-tokens$ /routes/refresh-access-token.php [QSA,NC,L]

# Get person based on a given phone number
RewriteRule ^/?get-user-by-phone$ /routes/person-get-by-phone.php [QSA,NC,L]

# Get person based on an id
RewriteRule ^/?get-user-by-id$ /routes/person-get-by-id.php [QSA,NC,L]

# Get prospect based on a given UID
RewriteRule ^/?get-prospect-by-uid$ /routes/person-get-by-uid.php [QSA,NC,L]

# Create a person given a phone number
RewriteRule ^/?create-lead$ /routes/person-create.php [QSA,NC,L]

# Update a user ( lead or prospect )
RewriteRule ^/?users/([^/]*)$ /routes/person-update.php?_id=$1 [QSA,L,NC]

# Update or create a lead / prospect
RewriteRule ^/?person-upsert$ /routes/person-upsert.php [QSA,L,NC]

# Send an OTP to a phone number
RewriteRule ^/?user-send-otp$ /front-end-helpers/user-send-otp/index.php [L,NC]

# Verify an OTP
RewriteRule ^/?user-verify-otp$ /front-end-helpers/user-verify-otp/index.php [L,NC]

# Get the current date and time stamp
RewriteRule ^/?get-date-and-time$ /front-end-helpers/date-and-time/index.php [L,NC]

# Make an enquiry through the website
RewriteRule ^/?enquiries$ http://localhost:9999/enquiries [P,L]
RewriteRule ^/?quotes$ http://localhost:9999/quotes [P,L]

# Attach a resource to a record
RewriteRule ^/?resource-attach$ /routes/resource-attach.php [QSA,NC,L]

# Create a quote
RewriteRule ^/?quote-create$ /routes/quote-create.php [QSA,NC,L]

# Make an phone enquiry
RewriteRule ^/?calls$ http://localhost:9991/calls [P,L]

# Register
RewriteRule ^/?register$ /front-end-helpers/user-register/index.php [L,NC]

# Register OAuth callback
RewriteRule ^/?register/google/callback$ /front-end-helpers/user-register/callback-google.php [L,NC]

# Log-in
RewriteRule ^/?login/google/callback$ /front-end-helpers/user-login/callback-google.php [L,NC]

# Log out
RewriteRule ^/?logout$ /front-end-helpers/user-login/logout.php [L,NC]

# If the request **does** match a file, do nothing
RewriteCond "%{DOCUMENT_ROOT}%{REQUEST_URI}" -f
RewriteRule .* - [L]

# the catch-all "else" block
# forward the request to index.php; it will do the heavy-lifting
# RewriteRule .? index.php [QSA,L]

</IfModule>
